<div style="display: block; width:100%;">
  <ul class="nav nav-tabs justify-content-end"  style="margin:auto;width: 60%;">  
    <li class="nav-item">
      <a class="nav-link" [ngClass]= "{active : activeLink == 0}" (click)="tableClicked()">Daily View</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" [ngClass]= "{active : activeLink == 1 }" (click)="detailChartClicked()">Daily Temp. Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]= "{active : activeLink == 2 }" (click)="chartClicked()">Meteogram</a>
    </li>
  </ul>
</div>

