
<div *ngIf="length != 0" class="table container" style="width:100%">
    <table class="table widget-table">
        <thead>
            <tr class="row">
                <th class="col-2">#</th>
                <th class="col-3">City</th>
                <th class="col-5">State</th>
                <th class="col-2"></th>
            </tr>
        </thead>
        <tbody>    
            <tr *ngFor="let s of storedItems; let i = index" scope="row" class="row">
                <td class="col-2"><b>{{i+1}}</b></td>
                <td class="col-3"><a (click)="retriveTable(i)" style="color:blue;text-decoration: underline;cursor: pointer;">{{s.city}}</a></td>
                <td class="col-5"><a (click)="retriveTable(i)" style="color:blue;text-decoration: underline;cursor: pointer;">{{s.state}}</a></td>
                <td class="col-2"><svg (click)="removeItem(i)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg></td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="length == 0" class="alert alert-warning" style="width:60%;margin:auto;" role="alert">
  <b>Sorry!</b> no records found!
</div>